/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/**/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800&display=swap');

html,
body,
#container {
  margin: 0;
  width: 100%;
  padding: 15px;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
}

.carousel {
  position: relative;
  width: 100%;
  height: 500px;
}

.section {
  width: 60%;
}

.image-slide {
  height: 100%;
  width: 100%;
  transition: background-image 0.3s ease-in-out;
}

.slide-arrow {
  color: #ffcd2f;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 50%;
}

.slide-arrow.right {
  right: 1rem;
}

.slide-arrow.left {
  left: 1rem;
}

p {
  margin-bottom: 1rem;
}

ol.instructions {
  list-style-type: decimal;
  margin-left: 1rem;
  margin-top: 0.5rem;

  li {
    margin-bottom: 1rem;

    ol {
      margin-top: 0.5rem;
      margin-left: 2.5rem;
      list-style-type: decimal;
    }
  }
}

.input-container {
  width: 100%;
  display: flex;
  margin-top: 10px;

  input {
    display: block;
    width: 50%;
    padding: 10px;
    min-height: 30px;
    border-radius: 6px;
    border: 1px solid #3c3c4399;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }

  button {
    display: block;
    padding: 10px;
    min-height: 30px;
    border-radius: 6px;
    font-weight: bold;
    border: 1px solid #3c3c4399;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
}

.remove-image-container {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 1%;
  left: 1px;

  button {
    display: block;
    padding: 10px;
    min-height: 30px;
    border-radius: 6px;
    border: 1px solid #3c3c4399;
    font-family: inherit;
    &:focus {
      outline: none;
    }
  }
}
